.main {
  background-color: #ffffff;
  padding: 2.5rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 8px;
  width: 200px;
  background: #fff;
  border-left: 1px solid #ddd;
  padding-top: 40px;
  padding-left: 40px;
}

/* main-content: the area to the right of the sidebar */
.main-content {
  flex: 1;
  padding-right: 40px;
}

.sidebar-item {
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.sidebar-item:hover {
  background-color: #eeeeee;
}

.sidebar-item.active {
  background: #e0e0e0;
  font-weight: bold;
}

.title {
  flex: 1;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 64px;
}

.title h1 {
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}

.container-add-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.item {
  display: grid;
  grid-template-columns: min-content min-content 1fr 1fr;
  column-gap: 24px;
  grid-template-rows: auto auto;
  row-gap: 16px;
  align-items: center;
  padding: 24px 0px;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.icon svg {
  width: 18px;
  height: 18px;
  display: block;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
}

.item-sub {
  font-size: 14px;
  color: #666;
}

.item + .item {
  margin-top: 24px;
  border-top: 1px solid #ddd;
}

.item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  grid-row: span 2;
  background-color: #ddd;
  padding: 4px 4px;
}

.badge {
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
  width: fit-content;
}

.item-span {
    grid-row: span 2;
    text-align: center;
    color: black;
}

.qty {
    display: flex;
    align-items: center;
    gap: 16px;
}

.qty_control {
    display: flex;
    align-items: center;
}

.qty_number {
    text-align: center;
    min-width: 40px;
    padding: 0px 8px;
}

.qty_button {
    min-width: 40px;
    height: auto;
    aspect-ratio: 1/1;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
}

.summary-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}


@media (max-width: 768px) {
  .main {
    padding: 1.25rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title {
    margin-bottom: 20px;
    width: 92%;
  }

  .title h1 {
    font-size: 28px;
  }

  .container {
    flex-direction: column;
    gap: 20px;
  }

  .sidebar {
    width: 89%;
    position: relative;
    top: 0;
    padding: 20px;
    border-left: none;
    border-bottom: 1px solid #ddd;
  }

  .main-content {
    padding-right: 0;
  }

  .item {
    margin-left: 60px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 1.25rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title {
    margin-bottom: 20px;
    width: 93%;
  }

  .title h1 {
    font-size: 28px;
  }

  .container {
    flex-direction: column;
    gap: 20px;
  }

  .sidebar {
    width: 84%;
    position: relative;
    top: 0;
    padding: 20px;
    border-left: none;
    border-bottom: 1px solid #ddd;
  }

  .main-content {
    padding-right: 0;
  }

  .item {
    margin-left: 0px;
    width: 90%;
  }
}
