.btn {

  padding: 4px 6px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  transition: background-color 0.2s ease;
}


.btn-ghost {
  background-color: transparent;
  border: none;
}

.btn-ghost svg {
    stroke-width: 1px;
}

.btn-ghost:hover {
  background-color: rgba(0, 0, 0, 0.05);
}