.btn {
  /* padding: 4px 6px; */
  padding: 0.5rem;
  min-width: 80px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  transition: background-color 0.2s ease;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.btn-ghost {
  background-color: transparent;
  border: none;
}

.btn-ghost svg {
  stroke-width: 1px;
}

.btn-ghost:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
