.header {
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 6px solid lightgray;
    position: sticky;
    z-index: 10;
    top: 0;
}


.header-nav {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-title {
    font-size: 32px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.sidenav-overlay {
  position: fixed;
  z-index: 5;
  background-color: rgba(128, 128, 128, 0);
  top: 66px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s ease ,opacity 0.5s ease, background-color 0.4s ease;
  pointer-events: none;
}

.sidenav-overlay.open {
  background-color: rgba(128, 128, 128, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 16px;
  padding-right: 16px;
  transition: width 0.4s ease;
}

.sidenav.open {
  width: 250px; /* matches the JS value used previously */
}


.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav-submenu {
  font-size: 16px;
  overflow: hidden;
  max-height: 0; /* collapsed */
  transition: all 0.2s ease;
  padding-left: 16px;
}

.sidenav-submenu.open {
  max-height: 400px; /* large enough to show items */
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidenav a:hover {
  color: #525252;
}

.sidenav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#indicator {
    transition: transform 0.2s ease;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}