.container {
    background-color: #ffffff;
    padding: 2.5rem;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
    font-weight: 600;
}

/* --- Form Groups & Inputs --- */

.form-group {
    margin-bottom: 1.25rem;
    margin: auto;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

.form-group input {
    width: 95%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
}


.form-group input::placeholder {
    color: #bbb;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff; /* สีฟ้าตอน focus */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}


.form-container {
    display: flex;
    justify-content: center; 
}

/* --- Button --- */
button[type="submit"] {
    width: 150px;
    padding: 0.85rem;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* --- Sign in Link --- */
.signup-link {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #555;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* --- Validation Styles --- */
.error-message {
    color: #dc3545; /* สีแดงสำหรับ error */
    font-size: 0.8rem;
    margin-top: 0.25rem;
    display: none; /* ซ่อนไว้ก่อน */
}

/* เมื่อ .form-group มี class 'error' */
.form-group.error .error-message {
    display: block; /* แสดงข้อความ error */
}

.form-group.error input {
    border-color: #dc3545; /* เปลี่ยนขอบเป็นสีแดง */
}

/* (Optional) สไตล์สำหรับ Success */
.form-group.success input {
    border-color: #28a745; /* เปลี่ยนขอบเป็นสีเขียว */
}

.forgot-password{
    text-align: right;
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.forgot-password a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password a:hover {
    text-decoration: underline;
}